.btn_showhide {
  width: 26px;
  height: 27px;
  background: transparent;
  outline: none;
  position: absolute;
  left: 9px;
  top: -2px;
  border:none;
  z-index: 1;
  &-stripe {
    transition: all .5s ease;
      position: relative;
    width: 22px;
    height: 2px;
    background: #02569c;
    &::before{
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: #02569c;
        bottom: 6px;
        left: -5px;
        transition: all .5s ease;
    }
    &::after{
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: #02569c;
        top: 6px;
        left: 5px;
        transition: all .5s ease;
    }
    &-hide{
        background: #02569c;
        transform: rotate(-44deg);
        &::before{
            content: '';
            background: #02569c;
            left: 5px;
            opacity: 0;
        }
        &::after{
            content: '';
            background: #02569c;
            left: 0px;
            top: 0;
            transform: rotate(87deg);
        }
    }
  }
}
