.userspage__wrapp {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.userspage__wrapp-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userspage__wrapp-avatar img {
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.userspage__wrapp-avatar button {
  width: 6.5rem;
  height: 3rem;
  margin-top: 6px;
  border: none;
  background: #02569c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 7px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.userspage__wrapp-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #70b9f563;
  width: 50%;
  font-weight: 500;
  -webkit-box-shadow: 0 1px 3px 3px #b4b4b473;
          box-shadow: 0 1px 3px 3px #b4b4b473;
  padding: 1rem 1rem;
  border-radius: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.userspage__wrapp-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userspage__wrapp-info-left div:nth-child(1) {
  font-weight: 800;
}

.userspage__wrapp-info-right {
  font-weight: 800;
}

.userspage__wrapp-info-right div:nth-child(1) {
  margin-bottom: 5px;
  padding-right: 3rem;
}

.userspage__wrapp-info-right div:nth-child(2) {
  margin-right: 20px;
}

.selected {
  font-weight: bold;
}

.margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 2rem;
}

.margin span {
  margin-right: 2px;
  cursor: pointer;
}

.preloader {
  position: absolute;
  left: 55%;
  top: 50%;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #27a6fa;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.userinfo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  &-userinfo{
        width: 70%;
    } */
}

.userinfo__description-avatar {
  width: 200px;
  text-align: center;
}

.userinfo__description-avatar img {
  border-radius: 50px;
}

.userinfo__description-name {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.userinfo__description-status {
  margin-bottom: 10px;
}

.userinfo__description-status span {
  font-weight: bold;
}

.userinfo__description-contacts {
  margin-bottom: 10px;
}

.userinfo__description-contacts li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.userinfo__description-about ul {
  padding: 0 1rem;
}

.userinfo__description-about li {
  list-style: none;
  text-transform: capitalize;
}

.userinfo__description-about-joblook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.userinfo__description-about-joblook h4 {
  width: 100%;
}

.userinfo__description-about-joblook span {
  width: 200px;
}

.userinfo__description-about-joblook span img {
  width: 20px;
}

.social a {
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.5rem;
}

.social img {
  width: 20px;
  height: 20px;
}

.userphoto {
  width: 167px;
}

.like {
  margin-left: 10px;
  margin-top: -2px;
}

.unlike {
  margin-left: 10px;
  margin-top: 5px;
}

.formControl {
  width: 100%;
}

.formControl textarea {
  height: 60px;
  resize: none;
  width: 100%;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 4px;
}

.profile__posts {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.profile__posts form {
  width: 80%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile__posts form button {
  width: 8rem;
  height: 3rem;
  margin-top: 6px;
  border: none;
  background: #02569c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.post__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.post {
  position: relative;
  border-bottom: 1px solid #70b9f563;
  width: 80%;
  font-weight: 500;
  -webkit-box-shadow: 0px 1px 3px 3px #b4b4b473;
  box-shadow: 0px 1px 3px 3px #b4b4b473;
  padding: 1rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.post img {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.post__likes {
  position: absolute;
  left: 88%;
  border: 1px solid #70b9f563;
  background: #02569c;
  color: #fff;
  width: 8%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.dialogs__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  height: 100%;
}

.dialogs__wrapper-dialogs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-weight: 700;
  background: #eeeeeeab;
  padding: 1rem 0;
}

.dialogs__wrapper-messages {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  font-weight: 700;
  padding: 6rem 0;
}

.dialogs__wrapper-messages form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  min-height: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dialogs__wrapper-messages form textarea {
  width: 100% !important;
  min-height: 60px;
  border-radius: 8px;
  padding: 1rem;
  resize: none;
  outline: none;
}

.dialogs__wrapper-messages form button {
  width: 8rem;
  height: 3rem;
  margin-top: 6px;
  border: none;
  background: #02569c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 7px;
}

.dialogs__wrapper-messages-message {
  border-bottom: 1px solid #70b9f563;
  width: 50%;
  font-weight: 500;
  -webkit-box-shadow: 0 1px 3px 3px #b4b4b473;
          box-shadow: 0 1px 3px 3px #b4b4b473;
  padding: 3rem 0.5rem;
  margin-bottom: 30px;
  border-radius: 12px;
}

.dialogs__wrapper-items {
  color: #02569c;
  padding: 2rem 0;
  letter-spacing: 1px;
  border-bottom: 1px solid #e6e4e4eb;
}

.dialogs__wrapper-links {
  text-decoration: none;
  color: #088fff;
  font-size: 1.5rem;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialogs__wrapper-links img {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  margin-right: 12px;
}

.active-item {
  color: #02569c;
  background: #ececec52;
}

.message__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__wrapper:nth-child(even) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message__wrapper:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.message__wrapper img {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header {
  background: #02569c;
  color: #ffff;
  padding: 1rem 13rem;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-img {
  width: 8rem;
}

.header__logo-img svg g {
  fill: '#ffffff';
}

.header__logo-heading {
  font-size: 1rem;
}

.login-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 9;
  grid-column: 9;
}

.login-btn a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.nav__wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: #ffff;
}

.nav__wrapper-header {
  position: relative;
}

.nav__wrapper-header img {
  width: 100%;
}

.nav__wrapper-friends {
  margin-top: 7rem;
  text-align: center;
  position: relative;
}

.nav__wrapper-friends h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #02569c;
}

.nav__wrapper-friends-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.nav__wrapper-friends-wrapp img {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
}

.nav__wrapper-friends-wrapp span {
  font-weight: 700;
  color: #02569c;
}

.nav__wrapper-friends-wrapp a {
  text-decoration: none;
}

.nav__wrapper-friends-wrapp a:hover span {
  color: #012746;
}

.nav__list {
  margin-top: 30px;
}

.nav__list-item {
  list-style: none;
  padding: 0.5rem 1.5rem;
}

.nav__list-item:nth-child(5) {
  margin-top: 15px;
}

.nav__list-link {
  text-decoration: none;
  color: #37a2fc;
  font-weight: 600;
}

.profile__shortinfo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 57%;
  left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}

.profile__shortinfo-img {
  width: 22% !important;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}

a.active {
  color: #02569c;
}

.profile__header {
  height: 300px;
}

.profile__header img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__description {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.profile__description-userinfo {
  margin-left: 2rem;
}

.profile__description-name {
  font-weight: 700;
  font-size: 2rem;
}

.profile__description-about {
  margin-top: 12px;
}

.profile__description-about ul li {
  list-style: none;
  padding: .5rem;
  text-transform: capitalize;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 6rem 1fr;
      grid-template-rows: 6rem 1fr;
  gap: 10px;
  background: rgba(241, 241, 241, 0.486);
  min-height: 100vh;
}

.content-wrapper {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 2;
  grid-row: 2/2;
  background: #ffffff;
}
/*# sourceMappingURL=App.css.map */