.player-wrapper {
  //background: #e2ad5c;
  background-image: linear-gradient(to right, #1cb5e0b0, #4545a5db);
  margin-bottom: 10px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #80808059;
  box-shadow: 0px 0px 3px 1px grey;
  min-height: 200px;
  @include respond(small-phone) {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  &__img {
    width: 25%;
    padding: 2rem 2rem;
    position: relative;
    @include respond(small-phone) {
      width: 50%;
    }

    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      background: #ffffff;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    & img {
      width: 100%;
      border-radius: 100%;
      border: 4rem solid black;
      z-index: 2;
    }
  }
  &__rotate {
    width: 25%;
    padding: 2rem 2rem;
    position: relative;
    animation: rotate 10s linear infinite;
    @include respond(small-phone) {
      width: 50%;
    }
    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      background: #ffffff;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    & img {
      width: 100%;
      border-radius: 100%;
      border: 4rem solid black;
      z-index: 2;
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;
    //flex-direction: column;
    width: 60%;
    @include respond(small-phone) {
      width: 100%;
    display: flex;
    justify-content: center;
    }
    & button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      &:disabled {
        & svg {
          fill: #cfd3f796;
        }
      }
    }
    & svg {
      fill: #444ea596;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__timeline{
    width: 30%;
    order: 2;
    margin-left: 22px;
    @include respond(small-phone){
      width: 50%;
    }
    &-time{
      font-size: 1.4rem;
      color: #fff;
    }
  }
}

//rotate anmation

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
