.player-wrapper{
    background: #ff000045;
}

.player-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    background:#9e9e9e52;
    &__title{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 2px;
    }

    &__showinfo{
        order: -2;
        & svg{
            width: 3rem;
            height: 3rem;
            fill: #ffffff;
        }
    }
    &__addtoplaylist{
        & svg{
            width: 2rem;
            height: 2rem;
            fill: #ffffff;
        }

    }
    

}