.player-wrapper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #80808059;
    box-shadow: 0px 0px 3px 1px grey;

    min-height: 200px;
    
    &__img{
        width: 25%;
        padding: 2rem 2rem;
        position: relative;
        @include respond(small-phone){
        width: 50%;
        }
        & span{
            position: absolute;
            top: 50%;
            left:50%;
            width: 1rem;
            height: 1rem;
            background: #ffffff;
            transform: translate(-50%,-50%);
            border-radius: 50%;
        }

        & img{
            width: 100%;
            border-radius: 100%;
        }
    }

    &__btns{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 60%;
        @include respond(small-phone){
        width: 40%;
        }
        & button{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            &:disabled{
               & svg{
                   fill: #cfd3f796;
               }
            }
        }
        & svg{
            fill:#444ea596;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}