.dialogs__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;

    @include respond(phone){
        grid-template-rows:repeat( auto-fill ,auto-fill);
    }
    &-dialogs {
        grid-column: 1/2;
        font-weight: 700;
        background: #eeeeeeab;
        padding: 1rem 0;
        @include respond(phone){
            grid-column: 1/9;
            grid-row: 1;
            display: flex;
            justify-content: space-around;
            background: #ffffff47;
        }

    }
    &-messages {
        grid-column: 2/6;
        font-weight: 700;
        padding: 6rem 0;
        @include respond(phone){
            grid-column: 1/6;
            padding: 2rem 0;
        }
        & form{
            display: flex;
            width: 65%;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 5rem;
            min-height: auto;
            align-items: flex-end;

            & textarea{
                width: 100% !important;
                min-height: 60px;
                border-radius: 8px;
                padding: 1rem;
                resize: none;
                outline: none;
            }

            & button{
                // width: 8rem;
                // height: 3rem;
                margin-top: 6px;
                // border: none;
                // background: #02569c;
                // color: #fff;
                // font-weight: 600;
                // cursor: pointer;
                // outline: none;
                // border-radius: 7px;
            }

            
        }
        &-message {
            border-bottom: 1px solid #70b9f563;
            width: 50%;
            font-weight: 500;
            box-shadow: 0 1px 3px 3px #b4b4b473;
            padding: 3rem 0.5rem;
            margin-bottom: 30px;
            border-radius: 12px;
            
        }
    }
    &-items {
        color: #02569c;
        padding: 2rem 0;
        letter-spacing: 1px;
        //border-bottom: 1px solid #e6e4e4eb;
        background: transparent;
        @include respond(phone){
            display: flex;
        }
        
        @include respond(small-phone){
            padding: 0;
        }
        
    }
    &-links {
        text-decoration: none;
        color: #088fff;
        font-size: 1.5rem;
        margin-left: 20px;
        display: flex;
        align-items: center;
        @include respond(phone){
            display: inline-block;
            text-align: center;
            margin:0;
        }
        & img {
            width: 6rem;
            height: 6rem;
            border-radius: 50px;
            margin-right: 12px;
            @include respond(phone){
                margin:0;
            }
            @include respond(small-phone){
                height: 4rem;
                width: 4rem;

              }
        }
    }
    

}

.active-item {
    color: #02569c;
    //background: #ececec52;
}
