.dialogs__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
    &-dialogs {
        grid-column: 1/2;
        font-weight: 700;
        background: #eeeeeeab;
        padding: 1rem 0;

    }
    &-messages {
        grid-column: 2/6;
        font-weight: 700;
        padding: 6rem 0;
        &-message {
            border-bottom: 1px solid #70b9f563;
            width: 50%;
            font-weight: 500;
            box-shadow: 0 1px 3px 3px #b4b4b473;
            padding: 3rem 0.5rem;
            margin-bottom: 30px;
            border-radius: 12px;
        }
    }
    &-items {
        color: #02569c;
        padding: 2rem 0;
        letter-spacing: 1px;
        border-bottom: 1px solid #e6e4e4eb;

    }
    &-links {
        text-decoration: none;
        color: #088fff;
        font-size: 1.5rem;
        margin-left: 20px;
        display: flex;
        align-items: center;
        & img {
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
            margin-right: 12px;
        }
    }

}

.active-item {
    color: #02569c;
    background: #ececec52;
}
