.userinfo__description {
	display: flex;
	padding: 2rem 2rem;
	align-items: center;

	&-avatar {
		width: 200px;
		text-align: center;

		& img {
			border-radius: 50px;
		}
	}

	&-userinfo {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		padding: 2rem;
		position: relative;
	}

	&-name {
		font-size: 2rem;
		font-weight: bold;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 10px;
	}

	&-status {
		margin-bottom: 10px;

		& span {
			font-weight: bold;
		}

		& p {
			color: #02569c;
			font-weight: 600;
		}
	}

	&-contacts {
		outline: 1px solid black;
		width: 35%;

		& li {
			display: inline-block;
			list-style: none;
			cursor: pointer;
			//padding: 0 .2rem;
		}
	}

	&-about {
		margin-top: 10px;
		width: 50%;
		& ul {
			padding: 0 1rem;
		}

		& li {
			list-style: none;
			text-transform: capitalize;
		}

		&-joblook {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 20px;
			& .form-field{
				width: 15px;
			}

			h4 {
				width: 100%;
			}

			& span {
				font-weight: 700;

				& img {
					width: 20px;
				}
			}
		}
		&-jobdesc {
			display: flex;
			flex-direction: column;
			& p {
				display: block;
				word-break: break-word;
        width: 100%;
        color: #02569c;
			}
		}

		& button {
			position: absolute;
			right: 68px;
			top: 0;
		}
	}
}

.social {
	& a {
		//color: white;
		text-decoration: none;
		font-weight: 700;
		padding: 0 0.5rem;
	}

	& img {
		width: 20px;
		height: 20px;
	}
}

.userphoto {
	width: 167px;
}

.like {
	margin-left: 10px;
	margin-top: -2px;
}

.unlike {
	margin-left: 10px;
	margin-top: 5px;
}

.contacts_align {
	padding: 3px 15px;
}

.about_me {
  display:inline-flex;
  & p{
    color: #02569c;
    font-weight: 600;
  }
  
}