.commonError {
  border: 1px solid red;
  color: red;
}

.login-bg {
  position: relative;
  & img {
    width: 100%;
  }
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 3rem;
    
    
    @include respond(tab-port){
      width:32%;
    }  
    
    @include respond(phone){
      width:33%;
    }  
    @include respond(small-phone){
      width:60%;
      
    }  
    
    & div:nth-last-child(1){
      margin-bottom: 15px !important;
    }
  }
  &-checkbox{
    width: 8%;
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }
  &-forminput{
    & div input{
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
    }
   
    & label{
      font-size: 1.2rem;
      text-transform: capitalize;
      transform: translate(14px,14px);
    }
  }
  
  //margin-top: 20rem;
//   & .form-field:nth-child(3) {
//     display: flex;
//     align-items: baseline;
//     width: 100%;
//     & .formControl {
//       display: flex;
//       width: 13%;
//       align-items: center;
//       justify-content: center;
//       & input {
//         height: auto;
//       }
//     }
//   }
// }

// .formControl {
//   width: 100%;
//   & input {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 20px;
//     border: 2px solid rgba(121, 121, 252, 0.658);
//     border-radius: 5px;
//     padding: 15px;
//   }
// }

// .error {
//   & input {
//     // width: 100%;
//     height: 30px;
//     margin-right: 10px;
//     margin-bottom: 10px;
//     border: 2px solid rgba(121, 121, 252, 0.658);
//     border-radius: 5px;
//     padding: 15px;
//   }
//   & span {
//     color: red;
//   }
// }
}
.login__btn {
  width: 8rem;
  height: 3rem;
  margin-top: 6px;
  border: none;
  background: #02569c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 7px;
}

.showPass {
  position: absolute;
  right: 13%;
  top: 2%;
  z-index: 2;
  animation: scale 0.6s infinite;
  font-weight: 600;
  & button {
    background: white;
    border: none;
    outline: none;
    width: 37px;
    height: 18px;
    font-weight: 700;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
