.header {
    background: #02569c;
    color: #ffff;
    padding: 1rem 13rem;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            width: 8rem;

            & svg {
                & g {
                    fill: '#ffffff';
                }
            }
        }

        &-heading {
            font-size: 1rem;
        }

    }


}

.login-btn {
    display: grid;
    grid-column: 9;

    & a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

.log__out{
    border:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    letter-spacing: 1px;

    
    & button{
        display: flex;
        align-items: center;
        background: none;
        color:#ffffff;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        & img{
            height: 20px;
            margin-right: 7px;
        }
    }
}

.header__photo{
    width: 4rem;
    height: 4rem;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-right: 10px;
}