.header {
    background: #02569c;
    color: #ffff;
    padding: 1rem 5rem;
    grid-column: 1/-1;
    grid-row: 1/1;
    display: flex;
    align-items: center;

    &__img {
        width: 8rem;
        & svg {
            & g{
                fill: '#ffffff';
            }
        }
    }

    &__heading {
        font-size: 1rem;
    }
}