.nav__wrapper {
    grid-column: 2/3;
    background: #ffff;


    @include respond(phone){
      grid-column: 1/2;
      padding-left: 2rem;
    }
    &-header {
        position: relative;
        & img {
            width: 100%;
        }
    }
    &-friends {
        margin-top: 7rem;
        text-align: center;
        position: relative;
        
        & h3{
            font-size: 3rem;
            font-weight: 400;
            color: #02569c; 
        }
        &-wrapp {
            display: flex;
            margin-top: 20px;
            & img{
                width:5rem;
                height: 5rem;
                border-radius: 50px;
            }
            & span{
                font-weight: 700;
                color: #02569c; 
            }
            & a{
                text-decoration: none;
                &:hover span{
                    color: #012746;
                }
            }
        }
    }
}
.nav {
    &__list {
        margin-top: 30px;

        &-item {
            list-style: none;
            padding: 0.5rem 1.5rem;
            &:nth-child(5) {
                margin-top: 15px;
            }
        }

        &-link {
            text-decoration: none;
            color: #37a2fc;
            font-weight: 600;
        }
    }
}

.profile__shortinfo {
    position: absolute;
    display: flex;
    top: 57%;
    left: 5%;
    align-items: center;
    color: #fff;
    font-weight: 500;

    &-img {
        width: 22% !important;
        margin-right: 10px;
        border: 2px solid #fff;
        border-radius: 100%;
    }
}

a.active {
    color: #02569c;
}
