.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows:60px 1fr ;
  grid-template-columns:2fr 10fr;
  grid-gap:10px;
}

.header{
  grid-area: h;
  background: yellowgreen;
  position: relative;
}
.header img{
  width: 60px;
  display: block;
  position: absolute;

  
}
.nav{
  grid-area: n;
  background: olivedrab;
  
}
.nav li{
  list-style: none;
}

.nav a{
  text-decoration: none;
}

.content{
  grid-area: c;
  background: blueviolet;
}
.content img:nth-child(0){
  width: 100%;
  height:300px;
}
.content img:nth-child(1){
  width: 10%;
  height:30px;
}